body {
    font-family: Comic Sans MS, Helvetica, sans-serif;
}
.index{
    background: #ffffff;
    font-family: "Comic Sans MS", serif;
    font-size: 14px;
}

.navigation {
    overflow: hidden;
    background-color: #ffffff;
}

.navigation a {
    float: left;
    font-size: 16px;
    color: #2c2c2c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #312d2d;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(176, 45, 45, 0.87);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: darkslategray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #B02D2DDD;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.table thead th {
    background-color: #8b8b8ba1;
    border: solid 1px #DDEEEE;
    color: #353a3a;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.button {
    background-color: #336B6B;
    background: -webkit-linear-gradient(#7db9e8, #51A1E0);
    background: linear-gradient(#7db9e8, #51A1E0);
    border: solid 1px #1E5799;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: inset 0 0 1px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: bold 14px/32px'Open Sans', sans-serif;
    height: 34px;
    outline: none;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #1E5799;
}
.button:hover {
    background-color: #51A1E0;
    background: -webkit-linear-gradient(#51A1E0, #2689D7);
    background: linear-gradient(#51A1E0, #2689D7);
    border: solid 1px #1A4B84;
    box-shadow: inset 0 0 2px #fff;
}
.button:active {
    position: relative;
    top: 1px;
}
.button:focus {
    border: solid 1px #000;
}
.button[disabled] {
    background: #ccc;
    border: solid 1px #888;
    color: #999;
    cursor: default;
    text-shadow: 1px 1px 1px #fff;
}